<ion-card>
    <ion-card-subtitle>
        <div class="header">
            <div class="article-source">
                <span class="text-primary">{{ index }}. </span>
                <span class="article-source-name">{{ article.source.name }}</span>
            </div>

            <ion-button (click)="openOptions()" fill="clear">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-card-subtitle>

    <main (click)="openArticle()">
        <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
            {{ article.title }}
        </ion-card-title>
    
        <ion-img
            *ngIf="article.urlToImage"
            [src]="article.urlToImage"
            >
        </ion-img>
    
        <ion-card-content *ngIf="article.description">
            <p>{{ article.description }}</p>
        </ion-card-content>
    </main>
</ion-card>